# ---> BiasBuster

misInformation/*
kjzz/*
tmp/*
*.png
*.txt
*.log
*.zip
*.7z
*.lnk
*.url
*.exe
*.tmp
gitsync*

# untrack kjzz.db:
#   git update-index --assume-unchanged kjzz.db
# track it again:
#   git update-index --no-assume-unchanged kjzz.db

!requirements.txt
!.gitattributes
!LICENSE
!.md
!.db
!.py
!.sh
!.xlsx
!.cmd

!heatMap.*.csv
!stopWords.ranks.nl.txt
!stopWords.Wordlist-Adjectives-All.txt

!assets/*
!fonts/*

!kjzz/kjzz.sh
!kjzz/KJZZ-schedule.json
!kjzz/KJZZ-schedule.xlsx
# ---> BiasBuster <---


# ---> Windows
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

